<% include partial/top %>
<h1>login form</h1>

<form action="/login" method="POSt">
    <input type="text" name="username" placeholder="user name">
    <input type="password" name="password" placeholder="password">
    <button>
        sumbit
    </button>
</form>
<% include partial/bottom %>
